In [2]:
import pandas as pd

## 1

In [19]:
data1 = {
    'StudentID': [1, 2, 3, 4],
    'Name':      ['Alice', 'Bob', 'Charlie', 'David']
}
df1 = pd.DataFrame(data1)

data2 = {
    'StudentID': [3, 4, 5, 6],
    'Grade':     ['A', 'B', 'C', 'D']
}
df2 = pd.DataFrame(data2)

In [23]:
df_left = df1.set_index('StudentID').join(df2.set_index('StudentID'))
df_inner = pd.merge(df1, df2)
df_outer = pd.merge(df1, df2, how='outer')
#df_left #all rows from first df are shown, data from second df only shown if overlapping with data from first df
#df_inner #only data that overlaps in both df's is shown
#df_outer #all data is shown, even if not overlapping

              Name Grade
StudentID
1            Alice   NaN
2              Bob   NaN
3          Charlie     A
4            David     B

## 2

In [13]:
data = {
    'Salesperson': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob', 'Charlie'],
    'Product':     ['Widget', 'Widget', 'Gadget', 'Gadget', 'Widget', 'Gadget'],
    'Quantity':    [4, 2, 3, 5, 6, 1]}
df = pd.DataFrame(data)

In [14]:
# sum of quantities of products sold by salespeople
grouped = df.groupby('Salesperson')
quantity_sold = grouped['Quantity'].sum()
print(quantity_sold)

Salesperson
Alice      9
Bob        8
Charlie    4
Name: Quantity, dtype: int64

In [16]:
#average quantity of products
grouped2 = df.groupby('Product')
quantity_avg = grouped2['Quantity'].mean()
print(quantity_avg)

Product
Gadget    3.0
Widget    4.0
Name: Quantity, dtype: float64